global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: "prometheus"
    static_configs:
      - targets: ["localhost:9090"]

  - job_name: "node-exporters"
    static_configs:
      - targets:
          - "{{ hostvars['node1'].ansible_host }}:9100"
          - "{{ hostvars['node2'].ansible_host }}:9100"
